

body {
    background-color: rgb(98, 0, 255);
    font-size: 1em;   /*размер шрифта*/
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    display: inline-block;
    margin: 0 3%;
}



input{
    margin: 0em;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}



textarea {
    width: 80%;
    height: 30%;
    resize: none;
    display: block;
    align-self: center;
}

ul{
    list-style: none;
}

ul li{
    text-align: center;
}




button {
    font-size: 3em;
    display: block;
    width: 25%;
    height: 50px;
}

#reset {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#reset:hover{
    background-color: rgb(255, 0, 0);
}

#submit {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#submit:hover{
    background-color: rgb(255, 0, 0);
}

video{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}




a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:coral;
}
    a:link {
     color: #0000d0; /* Цвет ссылок */
     padding: 2px; /* Поля вокруг текста */ 
    }
    a:hover {
        font-size: 1em;
     background: #ff00d9; /* Цвет фона под ссылкой */ 
     color: rgb(255, 255, 0); /* Цвет ссылки */ 
    } 
    a:visited {
        color: #900060; /* Цвет посещенных ссылок */
    }
    a:active {
        color: rgb(0, 255, 81); /* Цвет активной ссылки */  
    }  

    #header1, #header2, #header3, #col1, #col2, #col3 { 
        width: 400px; /* Ширина колонок */
       padding: 5px; /* Поля вокруг текста */
       margin-left: 5px; /* Отступ слева */
       margin-top: 2px; /* Отступ сверху */
       float: left; /* Состыковка колонок по горизонтали */
       border: 1px solid black; /* Рамка вокруг слоя */
       font-family: Verdana, Arial, sans-serif; /* Рубленый шрифт */
       font-weight: bold; /* Жирное начертание текста заголовка */
       font-size: 80%; /* Размер шрифта */
       color: white; /* Цвет текста заголовка */
      }
      /* для колонок */
      #col1, #col2, #col3 { 
       font-family: "Times New Roman", Times, serif; /* Шрифт с засечками */
       font-size: 100%; /* Размер шрифта */
       font-weight: normal; /* Нормальное начертание */
       color: black; /* Цвет текста */
      } 
    
      /* Цвет фона каждого слоя */
      #header1 { background: #B38541; }
      #header2 { background: #008159; }
      #header3 { background: #006077; }
      #col1 { background: #EBE0C5; }
      #col2 { background: #BBE1C4; }
      #col3 { background: #b4d8e1; }
    
      .container { 
        clear: both;  /* Отменяет действие float */ 
      }
 
        /* для колонок и их заголовков */
         .header1,  .col1 { 
             width: 300px; /* Ширина колонок */
            padding: 5px; /* Поля вокруг текста */
            margin-left: 5px; /* Отступ слева */
            margin-top: 2px; /* Отступ сверху */
            float: left; /* Состыковка колонок по горизонтали */
            border: 1px solid black; /* Рамка вокруг слоя */
            font-family: Verdana, Arial, sans-serif; /* Рубленый шрифт */
            font-weight: bold; /* Жирное начертание текста заголовка */
            font-size: 80%; /* Размер шрифта */
            color: white; /* Цвет текста заголовка */
           }
           /* для колонок */
           .col1 { 
            font-family: "Times New Roman", Times, serif; /* Шрифт с засечками */
            font-size: 100%; /* Размер шрифта */
            font-weight: normal; /* Нормальное начертание */
            color: black; /* Цвет текста */
           } 
         
           /* Цвет фона каждого слоя */
           .header1 { background: #0400ff; }
           
           .col1 { background: #00e1ff; }
           
           
           .container { 
             clear: both;  /* Отменяет действие float */ 
           }


           footer{
            position:-webkit-sticky; 
            position:sticky; 
            bottom:0; 
            background: #00e1ff; /* Цвет фона */
            border: 2px solid #0400ff;
          }

          .thumb-wrap iframe {
            
           
            width: 100%;
            height: 100%;
           
          }